/*
====================================
Large Screen
====================================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
	.custom-container {
		max-width: 960px;
	}
	.banner-section {
		padding-top: 120px;
	}
	.banner-content h2 {
		font-size: 55px;
	}
	.flower-section {
		padding-top: 130px;
	}
	.latest-section {
		padding-top: 70px;
	}
	.latest-area {
		margin-top: 55px;
	}
	.join-section {
		padding: 130px 0;
	}

}

/*
====================================
Tablet Screen
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 18px;
	}
    .container {
		max-width: 720px;
	}
	.nav-items ul li a {
		margin-left: 38px;
	}
	.custom-container {
		max-width: 720px;
	}
	.banner-section {
		padding-top: 70px;
	}
	.banner-content h2 {
		font-size: 40px;
	}
	.plants-area {
		grid-template-columns: repeat(3 , 1fr);
	}
	.plants-section {
		padding-top: 75px;
	}
	.plants-head h2 {
		font-size: 40px;
	}
	.plants-box p {
		padding-top: 18px;
	}
	.plants-box h6 {
		padding-top: 10px;
	}
	.plants-box button {
		margin-top: 20px;
		padding: 17px 0;
	}
	.plants-box {
		margin-top: 20px;
	}
	.flower-section {
		padding-top: 110px;
	}
	.flower-right h2 {
		font-size: 35px;
	}
	.flower-right ul {
		padding-left: 15px;
		row-gap: 7px;
		padding-top: 0px;
	}
	.flower-left-badge img {
		max-width: 180px;
	}
	.flower-left-badge {
		top: -75px;
		right: -55px;
	}
	.flower-area {
		gap: 35px;
	}
	.latest-section {
		padding: 70px 0;
	}
	.latest-area {
		margin-top: 55px;
	}
	.latest-area {
		column-gap: 15px;
		grid-template-columns: 1fr 1fr;
		row-gap: 10px;
	}
	.latest-items:nth-child(2) h2 {
		font-size: 20px;
	}
	.latest-items:nth-child(2) a {
		font-size: 16px;
	}
	.join-section {
		padding: 120px 0;
	}
	.join-area h2 {
		font-size: 40px;
	}
	.join-form {
		margin: 0 30px;
	}
	.footer-area {
		gap: 12px;
	}
	.footer-link {
		column-gap: 35px;
	}
	.footer-social ul {
		gap: 10px;
	}
	.footer-link ul {
		row-gap: 20px;
	}

}


/*
====================================
Small Screen
====================================
*/

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
    .container {
		max-width: 540px;
	}
	.nav-area {
		padding: 20px 0;
	}
	.nav-logo a img {
		max-width: 90px;
	}
	.nav-items ul li {
		display: none;
	}
	.nav-items ul li:last-child {
		display: block;
	}
	.banner-area {
		grid-template-columns: 1fr;
	}
	.banner-image {
		order: 1;
	}
	.banner-content {
		order: 2;
		padding: 0 15px;
		padding-top: 28px;
	}
	.banner-section {
		padding-top: 55px;
	}
	.banner-content h2 {
		font-size: 34px;
	}
	.banner-content p {
		padding-top: 8px;
	}
	.banner-image img {
		width: 100%;
	}
	.plants-area {
		grid-template-columns: repeat(2 , 1fr);
	}
	.plants-section {
		padding-top: 50px;
	}
	.plants-head h2 {
		font-size: 24px;
	}
	.plants-head p {
		padding-top: 10px;
	}
	.plants-box p {
		padding-top: 15px;
		font-size: 16px;
	}
	.plants-box h6 {
		padding-top: 8px;
		font-size: 16px;
	}
	.plants-box button {
		margin-top: 15px;
		padding: 14px 0;
		font-size: 14px;
	}
	.plants-box {
		margin-top: 5px;
	}
	.plants-box-common {
		display: none;
	}
	.flower-area {
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.flower-left-badge {
		display: none;
	}
	.flower-section {
		padding-top: 45px;
	}
	.flower-right h2 {
		font-size: 24px;
	}
	.flower-right ul {
		padding-left: 16px;
		row-gap: 16px;
		padding-top: 16px;
	}
	.latest-section {
		padding: 55px 0;
	}
	.latest-area {
		margin-top: 45px;
	}
	.latest-area {
		grid-template-columns: 1fr;
		row-gap: 16px;
	}
	.latest-items:nth-child(2) h2 {
		font-size: 20px;
	}
	.latest-items:nth-child(2) a {
		font-size: 16px;
	}
	.latest-items img {
		width: 100%;
	}
	.latest-items:first-child {
		order: 1;
	}
	.latest-items:nth-child(2) {
		order: 3;
	}
	.latest-items:last-child {
		order: 2;
	}
	.join-section {
		padding: 120px 0;
		padding-bottom: 70px;
	}
	.join-area h2 {
		font-size: 30px;
	}
	.join-form {
		margin: 0 30px;
	}
	.footer-area {
		grid-template-columns: 1fr;
		row-gap: 30px;
	}
	.footer-link {
		flex-direction: column;
		row-gap: 32px;
	}
}

/*
====================================
Mobile Screen
====================================
*/

@media screen and (max-width: 575px) {
	.container {
		padding: 0 15px;
	}
	.nav-logo a img {
		max-width: 65px;
	}
	.banner-section {
		padding-top: 10px;
	}
	.banner-content h2 {
		font-size: 24px;
	}
	.join-section {
		padding-top: 110px;
	}
	.join-area h2 {
		font-size: 22px;
	}
	.join-form {
		margin: 0 15px;
	}
	.join-form button {
		padding: 0 15px;
	}
	.footer-area {
		row-gap: 25px;
	}
	.footer-link {
		row-gap: 20px;
	}
	.footer-link ul {
		row-gap: 20px;
	}
}