@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaryColor: #E95A08;
    --blackColor: #000;
    --whiteColor: #fff;
    --notoFont: "Noto Serif", serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    background: #F5F8FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
}

::selection {
  color: white;
  background: #0078D7;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between
}

/*=== Header Section Start Here ===*/

.nav-area {
    padding: 26px 0;
}

.nav-items ul li a {
    margin-left: 48px;
    color: #8987A1;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.nav-items ul li a:hover {
    font-weight: 700;
    color: #252432;
}

.nav-items ul li:first-child a {
    color: #252432;
}

.nav-items ul li:last-child a {
    color: #000000;
}

.nav-items ul li:last-child a img {
    padding-right: 10px;
}

.banner-section {
    padding-top: 221px;
}

.custom-container {
    max-width: 1140px;
	margin: 0 auto;
}

.banner-area {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: end;
}

.banner-content h2 {
    font-size: 65px;
    font-family: var(--notoFont);
    font-weight: 700;
}

.banner-content h2 span {
    color: var(--primaryColor);
}

.banner-content p {
    padding-top: 13px;
}